In [1]:
!pip intall pandas

ERROR: unknown command "intall" - maybe you meant "install"

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\chun\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\chun\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\chun\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\chun\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\chun\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
import pandas as pd

In [4]:
pd

In [5]:
hipandas = pd.Series({1,2,3,4,5})

TypeError: 'set' type is unordered

In [6]:
hipandas = pd.Series([1,2,3,4,5])

In [7]:
pd

In [8]:
import pandas as pd

In [9]:
hipandas = pd.Series([1,2,3,4,5])

In [10]:
import pandas as pd

In [11]:
pd

In [12]:
print

In [13]:
hipandas = pd.Series([6,7,8,9,10])
print(hipandas1)
print(hipandas.values)
print(hipandas.index)

NameError: name 'hipandas1' is not defined

In [14]:
hipandas = pd.Series([6,7,8,9,10])
print(hipandas)
print(hipandas.values)
print(hipandas.index)

0     6
1     7
2     8
3     9
4    10
dtype: int64
[ 6  7  8  9 10]
RangeIndex(start=0, stop=5, step=1)

In [15]:
hipandas = pd.Series([1,2,3,4,5])
print(hipandas)
print(hipandas.values)
print(hipandas.index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
[1 2 3 4 5]
RangeIndex(start=0, stop=5, step=1)

In [19]:
dict1 = {'Taipei':'台北','Taichung':'台中','Kaohsiung':'高雄'}

In [17]:
city

NameError: name 'city' is not defined

In [18]:
print(city.values)

NameError: name 'city' is not defined

In [20]:
dict1 = {'Taipei':'台北','Taichung':'台中','Kaohsiung':'高雄'}
City = pd.Series([dict1])
print(city)
print(city.values)
print(city.index)

NameError: name 'city' is not defined

In [21]:
dict1 = {'Taipei' : '台北','Taichung' : '台中','Kaosiung' : '高雄'}
city = pd.Series(dict1)
print(city)
print(city.values)
print(city.index)

0    {'Taipei': '台北', 'Taichung': '台中', 'Kaosiung':...
dtype: object
[{'Taipei': '台北', 'Taichung': '台中', 'Kaosiung': '高雄'}]
RangeIndex(start=0, stop=1, step=1)

In [22]:
print(city)

0    {'Taipei': '台北', 'Taichung': '台中', 'Kaosiung':...
dtype: object

In [23]:
print(city.values)

[{'Taipei': '台北', 'Taichung': '台中', 'Kaosiung': '高雄'}]

In [24]:
print(city.index)

RangeIndex(start=0, stop=1, step=1)

In [26]:
print(city['Kaosiung'])

KeyError: 'Kaosiung'

In [27]:
print(city['Taichung' : 'Kaosiung'])

TypeError: cannot do slice indexing on RangeIndex with these indexers [Taichung] of type str

In [28]:
dict1 = {'Taipei' : '台北','Taichung' : '台中','Kaosiung' : '高雄'}
city = pd.Series(dict1)
print(city)
print(city.values)
print(city.index)

Taipei      台北
Taichung    台中
Kaosiung    高雄
dtype: object
['台北' '台中' '高雄']
Index(['Taipei', 'Taichung', 'Kaosiung'], dtype='object')

In [29]:
print(city['Taichung' : 'Kaosiung'])

Taichung    台中
Kaosiung    高雄
dtype: object

In [30]:
print(city['Taipei' : 'Kaosiung'])

Taipei      台北
Taichung    台中
Kaosiung    高雄
dtype: object

In [31]:
print(city['Kaosiung'])

高雄

In [32]:
hipandas[0]

1

In [33]:
hipandas[1]

2

In [34]:
hipandas[2]

3

In [35]:
se1 = pd.series([1,2,3,4,5], index=['a','b','c','d','e'])

AttributeError: module 'pandas' has no attribute 'series'

In [36]:
se1['a']

NameError: name 'se1' is not defined

In [37]:
se1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [38]:
se1['a']

1

In [39]:
se1['b']

2

In [40]:
se1['c']

3

In [41]:
df = pd.DataFrame([[65,92,78,83,70],
                   [90,72,76,93,56],
                   [81,85,91,89,77],
                   [79,53,47,94,80]])

In [42]:
df = pd.DataFrame([[65,92,78,83,70],
                   [90,72,76,93,56],
                   [81,85,91,89,77],
                   [79,53,47,94,80]])
df

    0   1   2   3   4
0  65  92  78  83  70
1  90  72  76  93  56
2  81  85  91  89  77
3  79  53  47  94  80

In [43]:
df1 = pd.DataFrame([[65,92,78,83,70],
                   [90,72,76,93,56],
                   [81,85,91,89,77],
                   [79,53,47,94,80]],
                   index=['小明','小美','大同','小玉'],
                   colums=['國文','英文','數學','自然','社會'])
df1

SyntaxError: invalid syntax (2315385562.py, line 5)

In [44]:
df1

NameError: name 'df1' is not defined

In [45]:
df1 = pd.DataFrame([[65,92,78,83,70],
                   [90,72,76,93,56],
                   [81,85,91,89,77],
                   [79,53,47,94,80]],
                   index=['小明','小美','大同','小玉'],
                   colums=['國文','英文','數學','自然','社會'])
df1

TypeError: __init__() got an unexpected keyword argument 'colums'

In [46]:
df1

NameError: name 'df1' is not defined

In [47]:
scores = {'國文':{'王曉明':65,'李小美':90,'陳大同':81,'林曉玉':79},
          '英文':{'王曉明':92,'李小美':72,'陳大同':85,'林曉玉':53},
          '數學':{'王曉明':78,'李小美':76,'陳大同':91,'林曉玉':47},
          '自然':{'王曉明':83,'李小美':93,'陳大同':89,'林曉玉':94},
          '社會':{'王曉明':70,'李小美':94,'陳大同':80,'林曉玉':53}}
df2 = pd.DataFrame(scores)
df2

     國文  英文  數學  自然  社會
王曉明  65  92  78  83  70
李小美  90  72  76  93  94
陳大同  81  85  91  89  80
林曉玉  79  53  47  94  53

In [48]:
se1 = pd.Series({'王小明':65,'李小美':90,'陳大同':81,'林小玉':79})
se2 = pd.Series({'王小明':92,'李小美':72,'陳大同':85,'林小玉':53})
se3 = pd.Series({'王小明':78,'李小美':76,'陳大同':91,'林小玉':47})
se4 = pd.Series({'王小明':83,'李小美':93,'陳大同':89,'林小玉':94})
se5 = pd.Series({'王小明':70,'李小美':56,'陳大同':94,'林小玉':80})
df3 = pd.DataFrame({ '國文':se1,'英文':se2,'數學':se3,
                   '自然':se4,'社會':se5} )

In [49]:
df3

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80

In [50]:
df4["自然"]

NameError: name 'df4' is not defined

In [51]:
[上午 11:26] 鄭培宇
    se1 = pd.Series({​​'王小明':65,'李小美':90,'陳大同':81,'林小玉':79}​​)
se2 = pd.Series({​​'王小明':92,'李小美':72,'陳大同':85,'林小玉':53}​​)
se3 = pd.Series({​​'王小明':78,'李小美':76,'陳大同':91,'林小玉':47}​​)
se4 = pd.Series({​​'王小明':83,'李小美':93,'陳大同':89,'林小玉':94}​​)
se5 = pd.Series({​​'王小明':70,'李小美':56,'陳大同':94,'林小玉':80}​​)
df4 = pd.concat([se1,se2,se3,se4,se5], axis=1)
df4.columns=['國文','英文','數學','自然','社會']
df4
<https://teams.microsoft.com/l/message/19:zg1420nOaqdyy1hkfRdpAQ_S8yLqSTaJTdRxNcxFF341@thread.tacv2/1665631598734?tenantId=399232fb-17d1-45ca-bda6-5b540441bd62&amp;groupId=a3bfd889-d71a-4213-82cb-8852b928e57d&amp;parentMessageId=1665627960069&amp;teamName=111上 - 巨量資料探勘 - 共同科商管碩A - 8290&amp;channelName=一般&amp;createdTime=1665631598734&amp;allowXTenantAccess=false>

SyntaxError: invalid syntax (2140367735.py, line 1)

In [52]:
se1 = pd.Series({'王小明':65,'李小美':90,'陳大同':81,'林小玉':79})
se2 = pd.Series({'王小明':92,'李小美':72,'陳大同':85,'林小玉':53})
se3 = pd.Series({'王小明':78,'李小美':76,'陳大同':91,'林小玉':47})
se4 = pd.Series({'王小明':83,'李小美':93,'陳大同':89,'林小玉':94})
se5 = pd.Series({'王小明':70,'李小美':56,'陳大同':94,'林小玉':80})
df4 = pd.concat([se1,se2,se3,se4,se5], axis=1)
df4.columns=['國文','英文','數學','自然','社會']
df4

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  76  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80

In [53]:
df4["自然"]

王小明    83
李小美    93
陳大同    89
林小玉    94
Name: 自然, dtype: int64

In [54]:
df4["數學"]

王小明    78
李小美    76
陳大同    91
林小玉    47
Name: 數學, dtype: int64

In [55]:
df4["社會"]

王小明    70
李小美    56
陳大同    94
林小玉    80
Name: 社會, dtype: int64

In [56]:
df4[["自然","數學","社會"]]

     自然  數學  社會
王小明  83  78  70
李小美  93  76  56
陳大同  89  91  94
林小玉  94  47  80

In [57]:
df = pd.DataFrame([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]],index = ['王小明','王二明','王三明','王四明'],
                  columns =['國文','英文','數學','自然','社會'])

In [58]:
df = pd.DataFrame([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15],[16,17,18,19,20]],index = ['王小明','王二明','王三明','王四明'],
                  columns =['國文','英文','數學','自然','社會'])

In [59]:
df

     國文  英文  數學  自然  社會
王小明   1   2   3   4   5
王二明   6   7   8   9  10
王三明  11  12  13  14  15
王四明  16  17  18  19  20

In [60]:
df4[df4["國文"]>=80]

     國文  英文  數學  自然  社會
李小美  90  72  76  93  56
陳大同  81  85  91  89  94

In [61]:
df4[df4["數學"]>=80]

     國文  英文  數學  自然  社會
陳大同  81  85  91  89  94

In [62]:
df4[df4["英文"]>=90]

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70

In [63]:
df4.values

array([[65, 92, 78, 83, 70],
       [90, 72, 76, 93, 56],
       [81, 85, 91, 89, 94],
       [79, 53, 47, 94, 80]], dtype=int64)

In [64]:
df4.values[1]

array([90, 72, 76, 93, 56], dtype=int64)

In [65]:
df4.values[1][2]

76

In [66]:
df4.values[3][4]

80

In [67]:
df4.loc["林曉玉","社會"]

KeyError: '林曉玉'

In [68]:
df4.loc["林小玉","社會"]

80

In [69]:
df4[df4["國文"]>=70]

     國文  英文  數學  自然  社會
李小美  90  72  76  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80

In [70]:
df4[df4["英文"]>=80]

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
陳大同  81  85  91  89  94

In [74]:
df4.loc["林小玉", "李小美"],["數學", "自然"]]

SyntaxError: unmatched ']' (3105679487.py, line 1)

In [76]:
df4.loc[["林小玉", "李小美"],["數學", "自然"]]

     數學  自然
林小玉  47  94
李小美  76  93

In [77]:
df4.loc["陳大同", :]

國文    81
英文    85
數學    91
自然    89
社會    94
Name: 陳大同, dtype: int64

In [78]:
df4.loc["李小美","數學":"社會"]

數學    76
自然    93
社會    56
Name: 李小美, dtype: int64

In [79]:
df4.loc["林小玉","數學":"自然"]

數學    47
自然    94
Name: 林小玉, dtype: int64

In [80]:
df4.loc[:"林小玉","數學":"自然"]

     數學  自然
王小明  78  83
李小美  76  93
陳大同  91  89
林小玉  47  94

In [81]:
df4.loc["林小玉":,"數學":"自然"]

     數學  自然
林小玉  47  94

In [87]:
df4.loc[["王小明", "陳大同"], ["數學", "自然"]]

     數學  自然
王小明  78  83
陳大同  91  89

In [86]:
df4.loc[["林小玉", "陳大同"], ["數學", "自然"]]

     數學  自然
林小玉  47  94
陳大同  91  89