In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\chun\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\chun\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\chun\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\chun\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\chun\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [7]:
import pandas as pd

In [8]:
pd

In [5]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
hipands = pd.Series([1,2,3,4,5])

In [8]:
print(hipands)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
print(hipands.values)

[1 2 3 4 5]

In [10]:
print(hipands.index)

RangeIndex(start=0, stop=5, step=1)

In [14]:
dict1 = {'Taipei': '台北', 'Taichung': '台中', 'Kaohsiung': '高雄'}
city = pd.Series(dict1)
print(city)

Taipei       台北
Taichung     台中
Kaohsiung    高雄
dtype: object

In [15]:
print(city.values)

['台北' '台中' '高雄']

In [17]:
print(city["Taipei"])

台北

In [9]:
scores = {'國文':{'王小明':65,'李小美':90,'陳大同':81,'林小玉':79},
          '英文':{'王小明':92,'李小美':72,'陳大同':85,'林小玉':53},
          '數學':{'王小明':78,'李小美':73,'陳大同':91,'林小玉':47},
          '自然':{'王小明':83,'李小美':93,'陳大同':89,'林小玉':94},
          '社會':{'王小明':70,'李小美':56,'陳大同':94,'林小玉':80}}
df5 = pd.DataFrame(scores)
df5

     國文  英文  數學  自然  社會
王小明  65  92  78  83  70
李小美  90  72  73  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80

In [14]:
df5.sort_values(by="國文", ascending=False)

     國文  英文  數學  自然  社會
李小美  90  72  73  93  56
陳大同  81  85  91  89  94
林小玉  79  53  47  94  80
王小明  65  92  78  83  70

In [19]:
df5.sort_index(axis=0)

     國文  英文  數學  自然  社會
李小美  90  72  73  93  56
林小玉  79  53  47  94  80
王小明  65  92  78  83  70
陳大同  81  85  91  89  94

In [20]:
df5.sort_index(axis=1)

     國文  數學  社會  自然  英文
王小明  65  78  70  83  92
李小美  90  73  56  93  72
陳大同  81  91  94  89  85
林小玉  79  47  80  94  53

In [ ]:
w